<h1>Topics</h1>

<p> <%= link_to "New Topic", new_topic_path(@topic), class: 'btn btn-success' %>

<div class="row">
  <div class="col-md-8">
    <div class="table">
        <tr>
          <% @topics.each do |topic| %>
          <td>
            <h3> <%= link_to topic.name, topic %></h3><br />
          </td>
        </tr>
        <tr>
          <td>
            <% topic.bookmarks.each do |bookmark| %>
          <%= link_to bookmark.url, bookmark  %>
        </tr>
      <% end %>
     <% end %>
  </div>
 </div>
</div>

