<h1><%= @topic.name %></h1> 

<div class="row">
  <div class="col-md-8">
    <div class="table">
      <div class="row">
        <% @topic.bookmarks.each do |bookmark| %>
          <%= link_to bookmark.url, bookmark %><br/>
           <%= render partial: 'likes/like', locals: {bookmark: bookmark } %> <br />
         <% end %>
         
      </div>
    </div>
   </div>
  </div> 
