<h1><%= @topic.name %></h1> 

<div class="row">
  <div class="col-md-8">
    <div class="table">
      <tr>
        <% @topic.bookmarks.each do |bookmark| %>
        <td> <%= link_to bookmark.url, bookmark %></td>
         <% end %>
          <%= render partial: 'likes/like', locals: {bookmark: @bookmark } %> <br />
      </tr>
    </div>
   </div>
  </div> 
