<h1> My Boomarks </h2>
  <div class="row">
    <div class= "col-md-8">
      <% if current_user.liked(bookmark)? %>
      <% current_user.bookmarks.each do |bookmark| %>
      
      <%= link_to bookmark.url, bookmark %><br />
      <% end %>
    </div>
  </div>


<h1> My Likes </h2>
  <div class="row">
    <div class= "col-md-8">
      <% bookmarks.each do |bookmark| %>
      <%= link_to bookmark.url, bookmark %><br />
      <% end %>
    </div>
  </div>
