<h1> My Boomarks </h2>
  <% @topics.each do |topic| %>
  <p><%= topic.name %> </p>
  <% bookmarks = select_bookmarks_for(topic, @bookmarks)  %>
    <div class="row">
      <div class="col-md-8">
          <div class="row">
            <%= render bookmarks %>
        </div>
      </div>
    </div>
  <% end %>

<h1> My Likes </h2>
  <% @liked_topics.each do |topic| %>
    <p><%= topic.name %> </p>
    <% liked_bookmarks = select_bookmarks_for(topic, @liked_bookmarks) %>

      <div class="row">
         <div class="col-md-8">
          <div class="row">
            <%= render liked_bookmarks %>
          </div>
        </div>
      </div>
    <% end %>


